@using UserGroup.Common.DTO
@model PersonDto

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <span>Name: @Model.Name</span>
        <span>Date Added: @Model.DateAdded</span>
        <span>Group : @Model.GroupName</span>
    </div>
    <div class="card-footer">
        <a class="btn btn-lg"
           asp-page="./Detail"
           asp-route-personId="@Model.Id">
            <i class="fa fa-search-plus"></i>
        </a>
        <a class="btn btn-lg"
           asp-page="./Edit"
           asp-route-personId="@Model.Id">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-lg"
           asp-page="./Delete"
           asp-route-personId="@Model.Id">
            <i class="fa fa-trash"></i>
        </a>
    </div>

</div>
